body{
    margin: 0px;
    padding: 0px;
}
.Main-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; overflow: hidden; /* Prevents overflow when sliding */
}

.img-div img {
    width: 50%;
    height: 50vh;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    opacity: 1; 
    transform: translateX(50%); 
}

.img-div img.show {
    transform: translateX(0); 
    opacity: 1; 
}

.img-div img.hidden {
    opacity: 0; 
}
.button-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.button-div button{
    border: none;
    background-color: transparent;
}
.fa-less-than,.fa-greater-than{
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 25px;
}
.fa-less-than:hover,.fa-greater-than:hover{
    background-color: rgb(97, 106, 106);
}
